In [1]:
import pandas as pd
import gmaps
import requests
from config import g_key

In [2]:
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Elizabethtown,US,2022-01-28 01:52:48,37.6940,-85.8591,36.66,61,100,0.00
1,1,Waipawa,NZ,2022-01-28 01:56:58,-41.4122,175.5153,64.92,48,32,8.14
2,2,Kosino,RU,2022-01-28 01:56:58,58.4127,51.2782,1.54,97,95,5.48
3,3,Kapaa,US,2022-01-28 01:55:04,22.0752,-159.3190,80.11,59,11,4.00
4,4,Asau,RO,2022-01-28 01:56:59,46.4333,26.4000,34.72,90,96,7.83

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
fig.add_layer(heat_layer)
# Call the figure to plot the data.


fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 85

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Waipawa,NZ,2022-01-28 01:56:58,-41.4122,175.5153,64.92,48,32,8.14
3,3,Kapaa,US,2022-01-28 01:55:04,22.0752,-159.3190,80.11,59,11,4.00
8,8,Gamba,GA,2022-01-28 01:57:00,-2.6500,10.0000,76.39,88,92,4.97
11,11,Atuona,PF,2022-01-28 01:57:01,-9.8000,-139.0333,78.24,74,7,16.73
13,13,San Vicente,AR,2022-01-28 01:57:01,-26.6167,-54.1333,67.68,89,97,5.93
15,15,Mataura,NZ,2022-01-28 01:57:02,-46.1927,168.8643,67.48,25,100,4.07
18,18,Hermanus,ZA,2022-01-28 01:57:03,-34.4187,19.2345,63.90,81,2,3.49
19,19,Kupang,ID,2022-01-28 01:57:04,-10.1667,123.5833,82.98,89,75,9.22
20,20,Avarua,CK,2022-01-28 01:56:40,-21.2078,-159.7750,82.45,83,20,18.41
21,21,Guruvayur,IN,2022-01-28 01:57:04,10.5943,76.0411,76.24,71,11,11.79

In [12]:
preferred_cities_df.count()

City_ID       252
City          252
Country       249
Date          252
Lat           252
Lng           252
Max Temp      252
Humidity      252
Cloudiness    252
Wind Speed    252
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
1       Waipawa      NZ     64.92 -41.4122  175.5153
3         Kapaa      US     80.11  22.0752 -159.3190
8         Gamba      GA     76.39  -2.6500   10.0000
11       Atuona      PF     78.24  -9.8000 -139.0333
13  San Vicente      AR     67.68 -26.6167  -54.1333
15      Mataura      NZ     67.48 -46.1927  168.8643
18     Hermanus      ZA     63.90 -34.4187   19.2345
19       Kupang      ID     82.98 -10.1667  123.5833
20       Avarua      CK     82.45 -21.2078 -159.7750
21    Guruvayur      IN     76.24  10.5943   76.0411

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Waipawa,NZ,64.92,-41.4122,175.5153,Tora Coastal Walk
3,Kapaa,US,80.11,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
8,Gamba,GA,76.39,-2.6500,10.0000,
11,Atuona,PF,78.24,-9.8000,-139.0333,Villa Enata
13,San Vicente,AR,67.68,-26.6167,-54.1333,Complejo Turístico Farelluk
15,Mataura,NZ,67.48,-46.1927,168.8643,Ellie's Villa
18,Hermanus,ZA,63.90,-34.4187,19.2345,Misty Waves Boutique Hotel
19,Kupang,ID,82.98,-10.1667,123.5833,Hotel On The Rock by Prasanthi
20,Avarua,CK,82.45,-21.2078,-159.7750,Paradise Inn
21,Guruvayur,IN,76.24,10.5943,76.0411,Kanoos Residency

In [17]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [19]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))